.App {
  margin: 0;
  /* display: flex;
  justify-content: center;
  text-align: center; */
  /* background-image:url(/home/aayush/Desktop/biodata_client/public/elegant-floral-wedding-backdrop-wallpaper_756748-2486.avif);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; */
  /* min-height: 100vh; */
  /* border-radius:80px 80px 80px 80px; */
}

